{% extends 'twitterApp/base.html' %}
{% block content %}
{% load staticfiles %}
<link rel='stylesheet' href="{% static "twitterApp/style.css" %}"></link>
<title>Submit query to Twitter API</title>
<body ng-controller='QueryCtrl'>
<div class='container-fluid bg1'>
   <!-- following search box query Twitter API to find specified user ID -->
   <form ng-submit='queryTwitterApi()'>
      <input type='text' ng-model='queryTerm' placeholder='enter Twitter ID'></input>
      <input type='submit' value='Search Twitter ID' class='btn btn-primary'></input>
   </form>
</div>
<div class='container-fluid bg2'>
   <!-- Twitter query result -->
   {%verbatim%}
   <p><h3 ng-bind='queryData.name'></h3></p>
   <p ng-bind='queryData.description'></p>
   {%endverbatim%}
</div>
<div class='container-fluid'>
   <p><button type='button' class='btn btn-secondary' ng-show='tweetButtonAvail' ng-click='queryEmbedStatus(queryData.status.id_str)'>Get latest tweet</button></p>
</div>
<div class='container-fluid'>
   <div class='row' ng-show='embedTweetAvail' ng-bind-html='embedStatus'></div>
</div>
</body>
{% endblock %}
