{% extends 'twitterApp/base.html' %}
{% block content %}
<title>Submit query to Twitter API</title>
<body ng-controller='QueryCtrl'>
<div class='container-fluid'>
   <form ng-submit='queryTwitterApi()'>
      <input type='text' ng-model='queryTerm' placeholder='enter Twitter query'></input>
      <input type='submit' value='Submit query to Twitter API' class='btn btn-primary'></input>
   </form>
</div>
<div class='container-fluid'>
   <!-- Twitter query result -->
   <div class='row'>
      <div ng-repeat='status in queryData.statuses'>
         {%verbatim%}
         {{status.text}}
         {%endverbatim%}
      </div>
   </div>
</div>
</body>
{% endblock %}
